<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bokor&family=Metal&family=Protest+Guerrilla&family=Roboto:wght@100;300&display=swap"
    rel="stylesheet">
  <title>{{product.title}}</title>
</head>

<body>

  <h1>Details</h1>
  <div class="product-container">

    <div class="photo-container">
      {{#if product.photo}}
      <img src="/images/products/{{product.photo}}">
      {{/if}}
    </div>

    <div class="details-container">

      <h3>{{product.title}}</h3>
      <p>Description: {{product.description}}</p>
      <p>Category: {{product.category}}</p>

      {{#if isStock}}
      <p>price: ${{product.price}}</p>

      <form method="post" action="/api/carts/{{cartId}}/addProduct/{{product._id}}" class="product-form">
        <input type="hidden" name="cartId" value="{{cartId}}">
        <input type="hidden" name="productId" value="{{product._id}}">
        <input type="submit" value="Add to cart" id="add-to-cart-form">
      </form>
      {{else}}
      <p>Out of stock</p>
      {{/if}}
    </div>
  </div>
  <button><a href="http://localhost:8080/api/products">Go to products</a></button>

  <script src="/js/product-redirect.js"></script>
</body>

</html>